.idea/
venv/
docs/source/api/
docs/build/
build/
__pycache__/
.docker-cache/
.pytest_cache
coverage.xml
pytest_report.xml
.coverage
src/fastiot/__version__.py
/src/fastiot_tests/generated.py
/src/fastiot_sample_services/fastapi/vue/dist/
/src/fastiot_sample_services/fastapi/static/fastiot.egg-info/
/src/fastiot_sample_services/fastapi/static/
fastiot.egg-info/
generated/
