extensions = ['fastiot_ivv_tools.extension']

project_namespace = '{{ project_namespace }}'

library_package = '{{ project_namespace }}'

test_package = '{{ project_namespace }}_tests'
integration_test_deployment = 'integration_test'
